body{
    width: auto;
    height: auto;
    margin: 0;
    background-color: #F4F9F9;
}
header{
    margin-top: 1%;
    width: 100%;
}
.logo{
    position: relative;
    width: 120px;
    height: 48px;
}
.logo img{
    position: relative;
    left: 35%;
}
.divisor{
    position: relative;
    width: 49%;
    height: 40em;
    display: inline-block;
    vertical-align: top;
}
#input{
    position: relative;
    width: 65%;
    height: 15em;
    left: 3em;
    top: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F4F9F9;
    border: none;
    resize: none;
}
.reglas{
    position: relative;
    width: 229px;
    height: 18px;
    top: 2.5em;
    left: 4em;
}
#signo{
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    width: 16px;
    height: 16px;
    list-style: none;
    background-color: #495057;
    color: #FFFFFF;
    padding-left: 0px;
    border-radius: 50%;
    text-align: center;
}
#texto{
    list-style: none;
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 0;
    margin-left: -15px;
}
.area_botones{
    position: relative;
    width: 80%;
    height: 11%;
    top: 3em;
    left: 10%;
}
.boton{
    position: relative;
    padding: 24px;
    width: 48%;
    height: 67px;
    border-radius: 24px;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    transition: 1s;
    background-color: #CCF2F4;
    border: 1px solid #0A3871;
    color: black;
}
.boton:hover{
    background-color: #A4EBF3;
    font-size: 18px;
}
.boton:active{
    transition: .01s;
    background-color: white;
}
.rectangle{
    background-color: white;
    position: relative;
    width: 60%;
    height: 93%;
    left: 20%;
    top: 2em;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;  
}
#munieco{
    position: relative;
    width: 65%;
    height: 45%;
    left: 20%;
    top: 15%;
}
#cuadro_1{
    position: relative;
    top: 10%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
    padding: 10px;;
}
#cuadro_2{
    position: relative;
    width: 90%;
    left: 4%;
    top: 5%;
    height: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    resize: none;
    border: none;
}
#botoncopiar{
    position: relative;
    margin: 2px;
    top: 4em;
    left: 26%;
    display: none;
}
footer{
    position: relative;
    background-color: #0A3871;
    height: 100px;
}
#pie{
    padding: 40px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 14px;
    transition: 1s;
}
#pie:hover{
    opacity: 100%;
    font-size: 16px;
}

/*Adaptacion de dispositivos moviles*/
@media screen and (max-width:480px) {
    header{
        position: relative;
        margin-top: 1%;
        width: 100%;
        height: auto;
    }
    .logo{
        position: relative;
        width: 60px;
        height: auto;
    }
    .logo img{
        position: relative;
        left: 14%;
    }
    .divisor{
        position: relative;
        width: 100%;
        height: 40em;
        display: block;
    }
    #input{
        position: relative;
        width: 80%;
        height: 15em;
        left: 1.2em;
    }
    .reglas{
        position: relative;
        width: 229px;
        height: 18px;
        top: 2.5em;
        left: 2.4em;
    }
    .boton{
        width: 48%;
        height: 30px;
        padding: 5px;
    }
    .rectangle{
        width: 80%;
        height: 93%;
        left: 10%;
        top: 2em;  
    }
    #munieco{
        position: relative;
        width: 65%;
        height: 45%;
        left: 20%;
        top: 15%;
    }
    #botoncopiar{
        position: relative;
        margin: 2px;
        top: 3em;
        left: 26%;
    }

}
/*Adaptacion de Tablets*/
@media screen and (min-width:500px) and (max-width:950px) {
    .divisor{
        position: relative;
        width: 100%;
        height: 40em;
        display: block;
    }
    #input{
        position: relative;
        width: 80%;
        height: 15em;
        left: 2em;
    }
    #botoncopiar{
        position: relative;
        margin: 2px;
        top: 3em;
        left: 26%;
    }
}